*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:Arial, sans-serif;
    line-height:1.6;
    background:#f4f4f4;
    color:#333;
}
header{
    background:#350728;
    color:white;
    text-align:center;
    padding:30px;
}
nav{
    background:#980c77;
}
nav ul{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    list-style:none;
}
nav ul li{
    margin:15px;
}
nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    font-size:18px;
}
nav ul li a:hover{
    color:yellow;
}
.hero{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:50px;
    padding:60px 10%;
    flex-wrap:wrap;
}
.hero-text{
    flex:1;
    min-width:280px;
}
.hero-text h2{
    font-size:35px;
    color:#350728;
    margin-bottom:20px;
}
.hero-text p{
    margin-bottom:25px;
}
.hero-image{
    flex:1;
    text-align:center;
}
.hero-image img{
    width:260px;
    border-radius:10px;
    box-shadow:0 0 15px rgba(0,0,0,0.3);
}
.btn{
    display:inline-block;
    background:#350728;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:5px;
}
.btn:hover{
   background:#980c77;
}
section{
    padding:60px 10%;
}
section h2{
    text-align:center;
    margin-bottom:30px;
    color:#350728;
}
.skills-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
   gap:20px;
}
.skills-grid div{
    background:white;
    padding:25px;
    text-align:center;
    border-radius:10px;
    font-weight:bold;
    box-shadow:0 0 10px rgba(0,0,0,.15);
}
.education-box{
    background:white;
    padding:25px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 0 10px rgba(0,0,0,.15);
}
.contact-form{
    display:grid;
    gap:20px;
    max-width:600px;
   margin:auto;
}
.contact-form input,
.contact-form textarea{
    padding:12px;
    border:1px solid #ccc;
    border-radius:5px;
   font-size:16px;
}
.contact-form button{
    padding:12px;
    background:#350728;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}
.contact-form button:hover{
    background:#980c77;
}
footer{
    background:#350728;
    color:white;
    text-align:center;
    padding:20px;
}
@media(max-width:768px){
.hero{
    flex-direction:column;
    text-align:center;
}
.hero-image img{
    width:200px;
}
nav ul{
    flex-direction:column;
}
nav ul li{
    margin:10px;
}
.hero-text h2{
    font-size:28px;
}
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.skills-grid div:hover{
    transform: translateY(-5px);
    transition:0.3s;
    background:#980c77;
    color:white;
}
html{
    scroll-behavior:smooth;
}
.hero{
    min-height:70vh;
}
